.contact {
  display: flex;
  width: 100%;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
}

.contact__form {
  display: flex;
  align-items: flex-end;
  width: 50%;

  //text-align: right;
  color: $second-color;
  background-color: $bg-dark;
}

.contact__form-wrapper {
  box-sizing: border-box;
  width: 84.92%;
  padding: 63px 170px 70px 0;
  max-width: 580px;
  margin-left: auto;
  text-align: left;

  & h2 {
    font-family: "Bebas Neue Cyrillic", cursive;
    font-size: 49px;
    line-height: 64px;
    letter-spacing: 0.03em;
    margin-bottom: 31px;
  }
}

.contact__form-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  & div {
    position: relative;
    width: 46%;
  }

  & input {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    padding: 5px 5px 5px 35px;
    margin-bottom: 30px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: $second-color;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $border-color;
    background-color: $bg-dark;

    &:hover,
    &:focus,
    &:active {
      border-bottom: 1px solid $second-color;
      outline: none;
    }
  }


  & label {
    position: absolute;
    top: 4px;
    left: 0;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    z-index: 1;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
      color: $second-color-active;
    }
  }
}

#user-phone-number {
  padding-left: 57px;
}

.contact__contacts {
  display: flex;
  align-items: flex-start;
  width: 50%;
  color: $primary-color;
  border-top: 1px solid $border-color;
}

.contact__contacts-wrapper {
  box-sizing: border-box;
  width: 84.92%;
  padding: 63px 0 0 120px;
  max-width: 580px;
  margin-right: auto;
  text-align: left;

  & h2 {
    font-family: "Bebas Neue Cyrillic", cursive;
    font-size: 49px;
    line-height: 64px;
    letter-spacing: 0.03em;
    margin-bottom: 31px;
  }
}

.contact__contacts-container {
  display: flex;
}

.contact__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 17px;
  padding-left: 4px;

  & h3 {
    margin-bottom: 3px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
  }

  & a {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: $primary-color;
    text-decoration: none;
    cursor: pointer;

    &:hover,
    &:focus {
      color: $primary-color-active;
    }
  }
}

.contact__first-column {
  position: relative;
  box-sizing: border-box;
  width: 51%;
  border-right: 1px solid $border-color;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: -2px;
    width: 5px;
    height: 6px;
    background: $second-color;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -2px;
    width: 5px;
    height: 22px;
    background: $second-color;
  }
}

.contact__second-column {
  box-sizing: border-box;
  width: 49%;
  padding-left: 55px;
}

@media (max-width: $tablet-width) {
  .contact {
    flex-direction: column;
  }

  .contact__form,
  .contact__contacts {
    width: 100%;
  }

  .contact__form-wrapper,
  .contact__contacts-wrapper {
    width: 65.36%;
    margin: 0 auto;
    padding-left: 0;
    padding-top: 71px;
    padding-right: 30px;
    padding-bottom: 67px;

    & h2 {
      font-size: 42px;
      line-height: 42px;
      margin-bottom: 33px;
    }
  }

  .contact__contacts-wrapper {
    padding-bottom: 44px;
  }

  .contact__form-form {
    & div {
      width: 43.6%;
    }

    & input {
      margin-bottom: 28px;
    }
  }

  .contact__item {
    margin-bottom: 20px;
    padding-left: 0;
    font-size: 18px;
    line-height: 27px;

    & h3 {
      margin-bottom: 4px;
      font-size: 20px;
      line-height: 30px;
    }

    & a {
      font-size: 18px;
      line-height: 27px;
    }
  }

  .contact__first-column {

    width: 57%;

    &::before {
      height: 7px;
    }

    &::after {
      height: 25px;
    }
  }

  .contact__second-column {
    width: 44%;
    padding-left: 48px;
  }
}

@media (max-width: $mobile-width) {
  .contact__form-wrapper,
  .contact__contacts-wrapper {
    width: 90.63%;
    padding: 70px 0 67px 0;

    & h2 {
      font-size: 32px;
      line-height: 32px;
      margin-bottom: 35px;
    }
  }

  .contact__contacts-wrapper {
    padding-bottom: 42px;
  }

  .contact__form-form {
    & div {
      width: 100%;
    }

    & input {
      margin-bottom: 34px;
    }
  }

  .contact__contacts-container {
    flex-direction: column;
  }

  .contact__second-column,
  .contact__first-column {
    width: 100%;
    padding-left: 0;
    border: none;
    margin-bottom: 2px;
  }

  .contact__first-column {
    &::before,
    &::after {
      display: none;
    }
  }
}
