.discounts__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 84.92%;
  max-width: $desktop-width;
  padding-top: 120px;
  padding-bottom: 115px;
  margin: 0 auto;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  color: $second-color;
  text-align: center;

  & h2 {
    font-family: "Bebas Neue Cyrillic", cursive;
    font-size: 49px;
    line-height: 49px;
    letter-spacing: 0.03em;
    color: $primary-color;
    margin-bottom: 50px;
  }
}

.discounts__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.discounts__unlimited {
  display: flex;
  width: 48.28%;
  color: $second-color;
}

.discounts__year {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
  padding: 34px 35px 35px 45px;
  background-color: $bg_bright;
  text-align: left;

  & a {
    display: block;
    width: fit-content;
    //max-width: 70px;
    margin-top: auto;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-decoration: none;
    color: $second-color;
    border-bottom: 1px solid $second-color;
    cursor: pointer;

    &:hover,
    &:focus {
      color: $second-color-active;
      border-bottom: 1px solid $second-color-active;
    }
  }

  &:nth-child(n) {
    width: 100%;
  }

  & b {
    display: block;
    width: 100%;
    font-weight: 700;
    font-size: 70px;
    line-height: 109%;
    margin-bottom: 15px;
  }

  & p {
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
  }

  & p:first-of-type {
    margin-bottom: -9px;
    font-weight: 700;
    font-size: 28px;
    line-height: 44px;
  }
}

.discounts__picture {
  box-sizing: border-box;
  width: 50%;
  background: #4370de url("../img/discount_img@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 35% 50%;
}

.discounts__list {
  display: flex;
  flex-direction: column;
  width: 48.19%;
  color: $primary-color;
  text-align: left;

  & h4 {
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
    margin-bottom: 6px;
  }

  & p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  }
}

.discounts__item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 20px 27px;
  margin-right: 7px;
  border: 7px solid;
  border-image-source: (linear-gradient(111.72deg, #ed0233 17.6%, #003eb7 95.31%));
  border-image-slice: 1;

  & a {
    display: block;
    width: fit-content;
    margin-top: 71px;
    margin-bottom: 9px;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: $primary-color;
    border-bottom: 1px solid $primary-color;
    cursor: pointer;

    &:hover,
    &:focus {
      color: $bg_bright;
      border-bottom: 1px solid $bg_bright;
    }
  }

  &:not(:last-child) {
    margin-bottom: 40px;
  }
}

/*.discounts__item--free-month {
  margin-bottom: 40px;
}*/

@media (max-width: $tablet-width) {
  .discounts__wrapper {
    width: 88.28%;
    padding-top: 100px;
    padding-bottom: 70px;

    & h2 {
      font-size: 42px;
      line-height: 42px;
      margin-bottom: 40px;
      text-align: center;
    }
  }

  .discounts__container {
    flex-direction: column;
    width: 100%;
  }

  .discounts__unlimited {
    width: 100%;
    margin-bottom: 30px;
  }

  .discounts__year {
    width: 41%;

    /*& a {
      max-width: 80px;
    }*/
  }

  .discounts__picture {
    width: 59%;
    height: 60vw;
  }

  .discounts__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  .discounts__item {
    width: 47.8%;
    padding: 21px 28px;
    margin-right: 0;
    margin-bottom: 20px;

    & a {
      margin-top: 74px;
      margin-bottom: 7px;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }

  }

  .discounts__item--free-month {
    //margin-bottom: 0;

    & p {
      width: 75%;
    }

    & a {
      margin-top: 50px;
    }
  }

  .discounts__item--20 h4 {
    margin-bottom: 5px;
  }
}

@media (max-width: $mobile-width) {
  .discounts__wrapper {
    align-items: center;
    width: 90.63%;
    margin: 0 auto;
    padding-top: 69px;
    padding-bottom: 10px;

    & h2 {
      font-size: 32px;
      line-height: 32px;
      margin-bottom: 42px;
      text-align: left;
    }
  }

  .discounts__unlimited {
    flex-direction: column;
    margin-bottom: 30px;
  }

  .discounts__year {
    align-items: center;
    width: 100%;
    padding: 34px 45px 26px;
    text-align: center;

    & a {
      margin: 31px auto 20px;
      text-align: center;
    }

    & b {
      margin-bottom: 10px;
    }
  }

  .discounts__picture {
    width: 100%;
    height: 93.43vw;
    background-position: 50% 0;
  }

  .discounts__list {
    flex-direction: column;
  }

  .discounts__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 32px 28px;
    margin-bottom: 30px;
    text-align: center;

    & a {
      margin: 27px auto 8px;
    }

    & p {
      width: 100%;
    }

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  .discounts__item--20 a {
    margin: 25px auto 8px;
  }

  .discounts__item--20 p,
  .discounts__item--20 h4 {
     width: 75%;
     margin: 0 auto;
   }

  .discounts__item--20 h4 {
    margin: 0 auto 8px auto;
  }
}
