.social__list {
  display: flex;
  //justify-content: space-between;
  flex-wrap: wrap;
  //width: 111px;
  //max-width: 25%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__item {
  position: relative;
  display: inline-flex;
  height: 24px;
  vertical-align: middle;
  margin-right: 20px;

  &--vk {
    width: 24px;
    height: 13px;
    //margin: auto 0;
    margin-bottom: 0;
    margin-top: 8px;
  }

  &--ig {
    width: 24px;
    height: 24px;
    margin-top: 4px;
  }

  &--fb {
    width: 12px;
    height: 24px;
    margin-top: 4px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  //margin-top: 5px;
  vertical-align: middle;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.6;
  }
}

.social__link--ig {
  width: 24px;
  height: 24px;
  background: url("../img/insta.svg") no-repeat center center;
}

.social__link--facebook {
  width: 12px;
  height: 24px;
  background: url("../img/fb.svg") no-repeat center center;
}

.social__link--vk {
  width: 24px;
  height: 13px;
  background: url("../img/vk.svg") no-repeat center center;
}

@media (max-width: $tablet-width) {
  .social__list {
    width: 100px;
  }
}

@media (max-width: $mobile-width) {
  .social__list {
    width: 143px;
  }

  .social__item {
    height: 27px;

    &--vk {
      width: 32px;
      height: 17px;
      margin: auto 0;
    }

    &--ig {
      width: 27px;
      height: 27px;
      margin-top: 4px;
    }

    &--fb {
      width: 14px;
      height: 27px;
      margin-top: 4px;
    }
  }

  .social__link--ig {
    width: 27px;
    height: 27px;
    background-size: cover;
  }

  .social__link--facebook {
    width: 14px;
    height: 27px;
    background-size: cover;
  }

  .social__link--vk {
    width: 32px;
    height: 17px;
    background-size: cover;
  }
}
