$primary-color: rgba(16, 38, 84, 1);
$second-color: rgba(255, 255, 255, 1);
$second-color-active: rgba(255, 255, 255, 0.5);

$min-mobile-width: 320px;
$mobile-width: 767px;
$tablet-width: 1199px;
$desktop-width: 1160px;
