$primary-color: rgba(16, 38, 84, 1);
$primary-color-active: rgba(16, 38, 84, 0.7);
$second-color: rgba(255, 255, 255, 1);
$second-color-active: rgba(255, 255, 255, 0.5);
$bg_light: rgba(248, 249, 252, 1);
$line: rgba(120, 120, 120, 0.2);
$bright: rgba(209, 10, 66, 1);
$bg_bright: rgba(237, 2, 51, 1); //#ed0233;
$bright-light: rgba(209, 10, 66, 0.2);
$dark-bright: rgba(16, 58, 174, 1);
$light-text: rgba(232, 232, 232, 0.48);

$min-mobile-width: 320px;
$mobile-width: 767px;
$tablet-width: 1199px;
$desktop-width: 1160px;
